body{
	background-image: url('img/bg.png');
	color: #000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}
textarea{
	font-family: Arial, 'Lucida Sans Unicode';
}
a{
	text-decoration: none;
}
a:link, a:visited{
	color: #009EE3;
}
a:hover, a:active{
	color: #005FAB;
}
.body{
	margin: 0 auto;
	width: 70%;
	clear: both;
}
.mainHeader img{
	width: 30%;
	max-width: 350px;
	height: auto;
	max-height: 90px;
	margin: 2% 0;
}
.mainHeader nav{
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainHeader nav ul{
	list-style: none;
	margin: 0 auto;
}
.mainHeader nav ul li{
	float: left;
	display: inline;
}
.mainHeader nav a:link,
.mainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}
.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited{
	background-color: #009EE3;
	text-shadow: none;
}
.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.mainContent{
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.content{
	width: 70%;
	float: left;
}
.sidebarContent{
	display: none;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.topContent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.middleContent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.bottomContent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.centerContent{
	background-color: #FFF;
	width: 200px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin: 0 auto;
	margin-top: 2%;
	box-shadow: 5px 5px 5px #888888;
}
.topSidebar{
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1.5% 0 0% 3%;
	padding: 2% 3%;
}
.middleSidebar{
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1.5% 0 0% 3%;
	padding: 2% 3%;
	overflow: hidden;
}
.bottomSidebar{
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1.5% 0 0% 3%;
	padding: 2% 3%;
}
.mainFooter{
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin: 2% 0;
}
.mainFooter p{
	width: 92%;
	margin: 10px auto;
	color: #FFF;
	text-align: center;
}
.activeStep{
	font-weight: bold;
}
.login input[type=text], .login input[type=password]{
	/* Size and position */
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
 
    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.05);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
 
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: black;
    font-size: 13px;
}
.comment textarea{
	resize: none;
	width: 100%;
	height: 150px;
}
.comment{
	border: 1px solid gray;
	padding: 10px;
	margin:10px;
}

@media only screen and (min-width: 150px) and (max-width: 600px){
	.body{
		width: 90%;
		font-size: 95%;
	}
	.mainHeader img{
		width: 100%;
	}
	.mainHeader nav{
		height: 120px;
	}
	.mainHeader nav ul{
		padding-left: 0;
	}
	.mainHeader nav ul li{
		width: 100%;
		text-align: center;
	}
	.mainHeader nav a:link,
	.mainHeader nav a:visited{
		padding: 10px 25px;
		height: 20px;
		display: block;
	}
	#mainHeader nav{
		height: 160px;
	}
	.content{
		width: 100%;
	}
	.topSidebar, .middleSidebar, .bottomSidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
}
@media only screen and (max-width: 950px){
	.sidebarContent{
		display: block;
	}
	.step{
		display: none;
	}
	.content{
		width: 100%;
	}
	.topSidebar, .middleSidebar, .bottomSidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
}